In [2]:
var="'abc'"
print(var)

'abc'

In [15]:
var="My name is \n\"daidipya\""
print(var)

My name is
"daidipya"

In [16]:
var="My name is \t\"daidipya\""
print(var)

My name is 	"daidipya"

In [22]:
var="My name \n is \b\"daidipya\""
print(var)

My name
 is "daidipya"

In [23]:
var="xyzfsghdhfdgkah"
print(len(var))

15

In [24]:
var="daidipya"
print(var.upper())

DAIDIPYA

In [44]:
var=" daidipya "
print(var.lower())
print(var.strip())
print(var.count("d"))
print(var.replace("a","f"))
var1="d"
print(var1.center(22))
var3=var+var1
print(var3)
var4=20
var5="var1+var4 {}"
# print(var5)
print(var5.format(var4))
var6=5
var7="xyz"
var8="e is {} roll no {}"
print(var8.format(var6,var7))
print(float(var6))
var8=0.5j
# print(int(var8))
print(float(var8))

 daidipya
daidipya
2
 dfidipyf
          d
 daidipya d
var1+var4 20
e is 5 roll no xyz
5.0

TypeError: can't convert complex to float

In [31]:
# Tuples
var=(20,30,40,40,"xyz",("abc","40",30))
var1=([1,2,3,4],[5,6,7,8])
print(var[2])
print(var)
print(var1)
print(var1[1])
print(var1[0][0])
var2=((4,4)*5)
print(var2)
a=(10,20,30,40)
(clgname,rollno,address,phoneno)=a
print(clgname)
print(rollno)
print(address)
print(phoneno)
print(len(a))
print(var)
b=(20,25,30,45)
print(b[-2])
print(b[1:-1])
d=(10,15,20,25)
c=(15,7,10)
e=d+c
print(e)
print(e.count(15))
print(e.index(25))
md=(33,33,5,23j,"gsvagj","xfhsj",[5,"fff"],("ggg",988))
(*a,b,c)=md
print(a)
print(b)
print(c)
for p in e:
    print(p)
i=0
while i<len(e):
    print(e[i])
    i=i+1
for i in range(1,4,2):
    print(i)
for i in range(1,50,3):
    print(i)
mylist=[34,"fdsfdf",4,20,"wewert",35,35,{23,"ddhg"},('dd',77,'tt')]
mylist.insert(1,12)
print(mylist)
mylist[2]="abc"
print(mylist)
mylist.remove(mylist[2])
mylist.pop(1)
print(mylist)
mylist.clear()
print(mylist)
del mylist
print(mylist)

40
(20, 30, 40, 40, 'xyz', ('abc', '40', 30))
([1, 2, 3, 4], [5, 6, 7, 8])
[5, 6, 7, 8]
1
(4, 4, 4, 4, 4, 4, 4, 4, 4, 4)
10
20
30
40
4
(20, 30, 40, 40, 'xyz', ('abc', '40', 30))
30
(25, 30)
(10, 15, 20, 25, 15, 7, 10)
2
3
[33, 33, 5, 23j, 'gsvagj', 'xfhsj']
[5, 'fff']
('ggg', 988)
10
15
20
25
15
7
10
10
15
20
25
15
7
10
1
3
1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
[34, 12, 'fdsfdf', 4, 20, 'wewert', 35, 35, {'ddhg', 23}, ('dd', 77, 'tt')]
[34, 12, 'abc', 4, 20, 'wewert', 35, 35, {'ddhg', 23}, ('dd', 77, 'tt')]
[34, 4, 20, 'wewert', 35, 35, {'ddhg', 23}, ('dd', 77, 'tt')]
[]

NameError: name 'mylist' is not defined